<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>musescore -> pdf</title>
</head>
<body>

    <h1>musescore to pdf converter</h1>
    <form action="/convert" method="POST">
        <label>copy and paste the musescore link to your sheet music</label>
        <input type="text" name="ms_link" required>

        <input type="submit" value="convert!">
    </form>

    <!-- {% if converted %}
        <a href="{{ url_for('static', filename='output_score.pdf') }}" download class="download-btn">
            <button>download pdf</button>
        </a>
    {% endif %} -->

</body>
</html>
